<configuration>
    <appender name="STDOUT" class="logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%thread] %-5level %controller{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>